@font-face {
  font-family: "Roboto";
  src: url("../../Locales/fonts/RobotoCondensed-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "RobotoItalic";
  src: url("../../Locales/fonts/RobotoCondensed-Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
.addRessourcesBanner {
  background-color: white;
  width: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  position: relative;
  overflow: hidden;
}

.dark-mode .addRessourcesBanner {
  background-color: #343434;
}

.homeBanner {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.textAddRessourcesBanner {
  color: #FFA500;
  font: 100 2em "Roboto", sans-serif;
  padding-bottom: 25px;
}

.callToActionNewRessources {
  background-color: #FFA500;
  color: white;
  padding: 10px;
  font-size: 25px;
  border-radius: 25px;
}
.callToActionNewRessources::before {
  font-family: "Bootstrap-icons";
  content: "\f4fd";
  font-weight: 700;
  margin: 10px;
}

.circleDecoration {
  border: #FFA500 3px solid;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.circleDecoration > span {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: #FFA500 3px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circleDecoration > span span {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #FFA500;
  display: block;
}
.circleDecoration.topLeft {
  top: -100px;
  left: -100px;
}
.circleDecoration.bottomRigth {
  bottom: -100px;
  right: -100px;
}
.circleDecoration.midleBottomLeft {
  bottom: -100px;
  left: 350px;
}
.circleDecoration.midleTopRigth {
  top: -100px;
  right: 350px;
}

@media (max-width: 1550px) {
  .circleDecoration.midleBottomLeft {
    bottom: -100px;
    left: 250px;
  }
  .circleDecoration.midleTopRigth {
    top: -100px;
    right: 250px;
  }
}
@media (max-width: 1400px) {
  .circleDecoration {
    width: 150px;
    height: 150px;
  }
  .circleDecoration > span {
    width: 100px;
    height: 100px;
  }
  .circleDecoration > span span {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .circleDecoration.topLeft {
    top: -75px;
    left: -75px;
  }
  .circleDecoration.bottomRigth {
    bottom: -75px;
    right: -75px;
  }
  .circleDecoration.midleBottomLeft {
    bottom: -75px;
    left: 250px;
  }
  .circleDecoration.midleTopRigth {
    top: -75px;
    right: 250px;
  }
}
@media (max-width: 1200px) {
  .circleDecoration.midleBottomLeft {
    left: 175px;
  }
  .circleDecoration.midleTopRigth {
    right: 175px;
  }
}
@media (max-width: 1000px) {
  .circleDecoration {
    width: 200px;
    height: 200px;
  }
  .circleDecoration > span {
    width: 150px;
    height: 150px;
  }
  .circleDecoration > span span {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .circleDecoration.topLeft {
    top: -100px;
    left: -100px;
  }
  .circleDecoration.bottomRigth {
    bottom: -100px;
    right: -100px;
  }
  .circleDecoration.midleBottomLeft {
    bottom: -1000px;
    left: 10000px;
  }
  .circleDecoration.midleTopRigth {
    top: -1000px;
    right: 10000px;
  }
}
@media (max-width: 575px) {
  .addRessourcesBanner {
    padding: 5px 0;
  }
  .textAddRessourcesBanner {
    font-size: 1.5em;
  }
  .callToActionNewRessources {
    font-size: 20px;
  }
  .circleDecoration {
    width: 100px;
    height: 100px;
  }
  .circleDecoration > span {
    width: 75px;
    height: 75px;
  }
  .circleDecoration > span span {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .circleDecoration.topLeft {
    top: -50px;
    left: -50px;
  }
  .circleDecoration.bottomRigth {
    bottom: -50px;
    right: -50px;
  }
}
@media (max-width: 400px) {
  .addRessourcesBanner {
    padding: 5px 0;
  }
  .textAddRessourcesBanner {
    font-size: 1.5em;
  }
  .callToActionNewRessources {
    font-size: 20px;
  }
  .circleDecoration.topLeft {
    top: -5000px;
    left: -5000px;
  }
  .circleDecoration.bottomRigth {
    bottom: -5000px;
    right: -5000px;
  }
}/*# sourceMappingURL=homeBanner.css.map */