.ressourcesMainContainer{
        background-color: white;
        border-radius: 25px;
        padding: 5%;
        width: 80%;
        margin : 50px auto;
        .ressourcesDisplay{
            display: flex;
            justify-content: space-evenly; 
            flex-wrap: wrap;
        }
}

.RessourcePresentation > div{
    cursor: pointer;
}

.dark-mode .ressourcesMainContainer{
    background-color: #343436;
    color: white;
}